section.about {

}
img {
    height: 200px;
    width: 200px;
}
body {
    background-color: darkgrey;
}
h1 {
    background-color: black;
    color: aliceblue;
    text-align: center;
}
nav {
    margin: auto;
    width: 60%;
    border: 3px solid;
    padding: 10px;
    text-align: center;
}
div {
    text-align: center;
}
p {
    text-align: center;
}


